<div class="container success flex col">
	<h1>Greeted Users</h1>

	{{#if empty}}<span>There are no greeted users</span>{{/if}}

	<div class="flex col wrap">
		{{#each users}}
		<a class="username" href="/counter/{{username}}">{{username}}</a>
		{{/each}}
	</div>

	{{#if count}}
	<form class="greeted-count flex col" action="/reset-greeted" method="post">
		<div class="flex row">
			<span>Greeted Users:</span><span class="count">{{count}}</span>
		</div>
		<button name="reset" type="submit">Reset</button>
	</form>
	{{/if}}
</div>