<div class="container flex col">
	<h1>Greeted Users</h1>

	{{#each users}}
	<div><a href="/counter/{{username}}">{{username}}</a></div>
	{{/each}}

	<form class="flex col" action="/reset" method="post">
	</form>
</div>