<div class="container flex col">
	<h1>Greeting</h1>

	{{#if error}}
	<div class="error-message fade-in">{{error}}</div>
	{{/if}}

	<div class="position-wrapper flex col">
		<form class="user-input flex col" action="/greetings" method="post" autocomplete="off">
			<input type="text" name="name" id="name">

			<div class="language-select flex row">
				<label class="flex row" for="english">
					<input id="english" type="radio" name="language" value="english">
					<span>English</span>
				</label>
				<label class="flex row" for="afrikaans">
					<input id="afrikaans" type="radio" name="language" value="afrikaans">
					<span>Afrikaans</span>
				</label>
				<label class="flex row" for="xhosa">
					<input id="xhosa" type="radio" name="language" value="xhosa">
					<span>isiXhosa</span>
				</label>
			</div>

			<button type="submit">Greet Me</button>
		</form>

		<form class="greeted-count flex col" action="/reset" method="post">
			<a href="/greeted">Greeted Users</a>
			<div class="count">{{count}}</div>
			<button name="reset" type="submit">Reset</button>
		</form>
	</div>

	{{#if message}}
	<div class="greeting-message fade-in">{{message}}</div>
	{{/if}}
</div>