:root {
	font-family: sans-serif;
	font-size: 16px;
	color: white;

	--primary-fg: #000;
	--primary-bg: #fff;
	--secondary-fg: #444;
	--secondary-bg: #ccc;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	/* background: url("/images/wallhaven-e7jj6r.jpg"); */
	background: linear-gradient(135deg, #222, #444);
	background-position: top center;
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 2rem;
}

form {
	width: fit-content;
	margin: auto;
}

input,
button {
	border-radius: 0.25rem;
	border: none;
	outline: none;

	padding: 0.25rem 0.5rem;
	margin: auto;
}

.flex {
	display: flex;
	gap: 0.5rem;
}

.flex.col {
	flex-direction: column;
}

.flex.row {
	flex-direction: row;
}

.container {
	padding: 1rem;
}

.message {
	border-radius: 0.25rem;

	padding: 0.25rem 0.5rem;
	margin: auto;

	animation: fade-in 1s;
}

.greeting {
	font-size: 2rem;
	text-shadow: 1px 1px black;
}

.error {
	color: black;
	background: #f88;
	border: 1px solid red;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}