@font-face {
	font-family: "Coffee Healing";
	src: url("/fonts/CoffeeHealing-1GrKe.ttf");
	font-style: normal;
}

@font-face {
	font-family: "Coffee Healing";
	src: url("/fonts/CoffeeHealingItalic-RpP6o.ttf");
	font-style: italic;
}

:root {
	font-family: "Coffee Healing", sans-serif;
	font-size: 32px;
	color: white;
	text-shadow: 1px 1px black;

	--primary-fg: #000;
	--primary-bg: #fff;
	--secondary-fg: #444;
	--secondary-bg: #ccc;
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
	background: url("./images/wallhaven-726poo.jpg");
	background-size: cover;
	background-position: top center;
}

.hidden {
	opacity: 0;
	transition: opacity 1s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 2rem;
	z-index: 1;
}

form {
	width: fit-content;
	margin: auto;
}

input,
button,
a {
	border-radius: 0.25rem;
	border: none;
	outline: none;

	padding: 0.25rem 0.5rem;
	margin: auto;
}

a {
	color: inherit;
	text-decoration: underline;
}

.flex {
	display: flex;
	gap: 0.5rem;
}

.flex.col {
	flex-direction: column;
}

.flex.row {
	flex-direction: row;
}

.container {
	background: url("/images/wallhaven-726poo.jpg");
	background-size: cover;
	background-position: top center;

	width: 100%;
	height: 100%;
	padding: 1rem;
}

.container.success {
	background: url("/images/wallhaven-8ox56y.jpg");
	background-size: cover;
	background-position: top center;
}

.container.error {
	background: url("/images/wallhaven-pk29vp.jpg");
	background-size: cover;
	background-position: top center;
}

.message {
	border-radius: 0.25rem;

	padding: 0.25rem 0.5rem;
	margin-inline: auto;
}

.message.success {
	font-style: italic;
	font-size: 2rem;

	color: white;
	text-shadow: 2px 2px black;
}

.message.error {
	color: black;
	background: #f88;
	border: 1px solid red;
	
	margin-top: 1rem;
}

.fade-in {
	animation: fade-in 1s;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}