@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
	font-family: "Coffee Healing";
	src: url("/fonts/CoffeeHealing-1GrKe.ttf");
	font-style: normal;
}

@font-face {
	font-family: "Coffee Healing";
	src: url("/fonts/CoffeeHealingItalic-RpP6o.ttf");
	font-style: italic;
}

:root {
	font-family: "Poppins", sans-serif;
	font-size: 32px;
	color: black;
	text-shadow: 1px 1px 2px #fff;

	--primary-fg: #000;
	--primary-bg: #faf;
	--secondary-fg: #aaf;
	--secondary-bg: #aff;
	--accent-color: #82e;
	--gradient: linear-gradient(var(--primary-bg), var(--secondary-bg));
}

html {
	width: 100vw;
	height: 100vh;
}

body {
	width: 100%;
	height: 100%;
}

nav {
	background: var(--secondary-bg);
	height: 1.5rem;
	align-items: center;
}

nav a {
	border-radius: 0;

	flex: 1;

	height: 100%;

	text-decoration: none;
}

nav a:hover {
	background: var(--primary-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Coffee Healing";
	font-size: 3rem;
	z-index: 1;
}

form {
	width: fit-content;
	margin: auto;
}

input,
button,
a {
	border-radius: 0.25rem;
	border: none;
	outline: none;

	padding: 0.25rem 0.5rem;
	margin: auto;
}

button {
	background: white;
	box-shadow: 0 2px black;
}

button:hover {
	background: #0002;
	text-shadow: 1px 1px white;
	transform: scale(1.05);
}

button:active {
	transform: scale(1);
}

input[type=text] {
	outline: 0.03125rem solid var(--primary-fg);
}

input[type=text]:focus {
	outline: 0.125rem solid var(--accent-color);
}

a {
	color: inherit;
	text-decoration: underline;
}

.flex {
	display: flex;
	gap: 0.5rem;
}

.flex.col {
	flex-direction: column;
}

.flex.row {
	flex-direction: row;
}

.flex.wrap {
	flex-wrap: wrap;
}

.container {
	background: var(--gradient);

	width: 100%;
	height: calc(100% - 1.5rem);
	padding: 1rem;
}

.language-select {
	justify-content: center;
}

.language-select > label {
	background: #fff4;
	border-radius: 1rem 0.25rem 0.25rem 1rem;
	border: 1px solid #888;

	padding: 0.03125rem 0.25rem;
}

.position-wrapper {
	gap: 2rem;
}

.greeted-count {
	margin: auto;
}

.username {
	background: #fff4;
	border: 2px solid var(--accent-color);

	padding: 0.03125rem 0.25rem;

	text-decoration: none;
}

.username:hover {
	transform: scale(1.05);
	box-shadow: 0 1px 2px black;
}

.username:active {
	transform: scale(1);
	box-shadow: 0 1px 2px black;
}

.greeting-message {
	font-family: "Coffee Healing";
	font-style: italic;
	font-size: 2rem;
	margin-top: 1.5rem;/
}

.error-message {
	background: #fdd;
	color: red;
	border: 1px solid red;
	border-radius: 0.25rem;
	box-shadow: 0 0 1rem -0.5rem black;

	margin-inline: auto;
	padding: 0.25rem 0.5rem;
}

.fade-in {
	animation: fade-in 1s;
}

.fade-out {
	animation: fade-out 1s;
}

.hidden {
	opacity: 0;
	transition: opacity 1s;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}